form.nosubmit {
    border: none;
    padding: 0;
  }
  
  input.nosubmit {
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

  table {
    /*   border: 1px solid #ccc; */
      border-collapse: collapse;
      margin: 0 auto;
      padding: 0;
      width: 80%;
      table-layout: fixed;
    }
    
    table caption {
      font-family: 'Ubuntu', sans-serif;
      font-size: 55px;
      font-weight:700;
      color:#00000090;
      padding: 15px;
    }
    
    table tr {
      background-color: #ffffff90;
      border: 1px solid #ddd;
      padding: 10px;
    }
    .thead{
      background-color: rgb(67 56 202);
      color:#fff;
    }
    
    table th,
    table td {
      padding: 20px;
      text-align: center;
    }
    
    table th {
      font-size: 20px;
      letter-spacing: .1em;
      text-transform: capitalize;
    }
    
    @media screen and (max-width: 600px) {
      table {
        border: 0;
      }
      .thead{
      background-color: rgb(67 56 202);
      color:#fff;
    }
    
      table caption {
         font-size: 35px;
      font-weight:700;
      color:#00000090;
      }
      
      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      
      table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
    }